*{
    padding: 0%;
    margin: 0%;
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
    
}
body{background-color: #70485b;}
  
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #a6798f;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #6a1f44;
    border-radius: 10px;
}
nav ul li{
    margin-top: 0%;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    
    
}
li a{
    
    text-decoration: none;
    padding-left: 30px;padding-right: 50px; color: #f7f7f7;font-size: 20px;
} 
.a{

background-image:linear-gradient(to bottom, rgb(227,212,220)

,rgb(108,28,68));

padding-left:150px; padding-bottom: 40px;}

.purplebg{background: linear-gradient(to left,#965f7965 30%, #6a1f44 50%) right;width: 160px; margin-left: 50px;
    border-radius: 20px;
    background-size: 250%;
    transition: .6s ease-in;
  
padding: 5px;
}
.purplebg:hover{
  
    background-position: left;
    padding: 5px;
}
.h1{
    border-radius: 30%;
}
.h2{
    color: #6a1f44;
    margin: 0%;
    text-align: center;
    font-size: 50px;
    padding: 50px;
    background-color: 
    #e1d2da;
}
.r1{
    height: 100%;
 background-color: #c4a4b4;
}
.r2{
    background-color: #a6798fc9;
    height: 400px;
}
.card-box
        {color: white;
            text-align: center;
            padding: 20px;
            height: 150px; width: 400px;
            background-color: #6a1f44;
            margin: 20px 10px;
            transition: 0.6s;

        }
        ::-webkit-scrollbar{
            width: 10px;
        }
        ::-webkit-scrollbar-track{
            background-color: #a6798f;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb{
            background-color: #6a1f44;
            border-radius: 10px;
        }
        .card-box:hover
        {
transform: scale(1.03);
}
.s1{
    height: 500px;
    background-color: #6a1f44;
    padding: 20px;
   
}
.s2{
    background-color: #a6798f89;
   padding-top: 20px;
}
.img{
    padding-left: 80px;
}
.image{
    filter: drop-shadow(15px 8px 15px #a6798f);

}
.btn1{background: linear-gradient(to left,#bc719465 30%, #803057 50%) right;width: 150px; 
    border-radius: 20px;
    background-size: 250%;
    transition: .6s ease-in;
    border: none;
   
  color: white;
padding: 10px;

}
.btn1:hover{ background-position: left;
    padding: 10px;

}
.button1{
    background: linear-gradient(to left,#bc719465 30%, #d398b5 50%) right;width: 200px; margin-left: 50px;
    border-radius: 20px;
    background-size: 250%;
    transition: .6s ease-in;
    border: none;
    margin-top: 40px;
  color: white;
padding: 10px;
}
.button1:hover{ background-position: left;
    padding: 10px;

}
.a1{
    background-color: #70485b;
 
text-align: center;}
.a2{
    padding: 20px;
    
    color:#6a1f44;
    background-image:linear-gradient(to bottom, rgb(227,212,220)

    ,rgba(134, 40, 87, 0.768));
 margin: 50px;

}
.a3{
    background-color: #a6798f;
    text-align: center;
    color: #e1d2da;

}
.i{
   margin-bottom:  40px; ;
   
}
.video{
    opacity: 0.6;
    background-color: #662847;
    padding: 50px;
}
.video:hover{
    opacity: 5;
}
.button2{
    background: linear-gradient(to left,#944268c2 30%, #d398b5 50%) right;width: 200px; 
    border-radius: 20px;
    background-size: 250%;
    transition: .6s ease-in;
    border: none;
    margin-top: 100px;
  color: white;
padding: 10px;
text-decoration: none;
cursor: pointer;
}
.button2:hover{ background-position: left;
    padding: 10px;

}
.button3{
    background-color: #6a1f44;
border: none; border-radius: 50%;
color: white;
}
.button6{
    background: linear-gradient(to left,#944268c2 30%, #d398b5 50%) right;width: 250px; 
    border-radius: 20px;
    background-size: 250%;
    transition: .6s ease-in;
    border: none;
    margin-top: 150px; margin-left: 550px;
  color: white;
padding: 10px;
text-decoration: none;
cursor: pointer;
}.button6:hover{ background-position: left;
    padding: 10px;

}

.slider
        {
            width: 500px;
            height: 500px;
            background-image: url(./straightner\ \(4\).png);
            margin: 0% auto;
            animation: slide 15s infinite;
            background-color: rgba(242, 186, 244, 0.533);
            background-size: cover;
            background-position: center;
            
           border-radius: 20%;
           
        }
        @keyframes slide{
          5%{
          background-image: url(./slider/1.jpg);
          }
          15%{
          background-image: url(./slider/5.jpg);
          }
          25%{
          background-image: url(./slider/6.jpg);
          }
          50%{
          background-image: url(./slider/2.jpg);
          }
          75%{
          background-image: url(./slider/3.jpg);
          }
          100%{
          background-image: url(./slider/4.jpg);
          }
        }
        .button4{background: linear-gradient(to left,#965f7965 30%, #6a1f44 50%) right;width: 200px; margin-left: 50px;height: 90px;font-size: 25px;
    border-radius: 40px;
    background-size: 250%;
    transition: .6s ease-in;
  
padding: 5px;
}
.button4:hover{
  
    background-position: left;
    padding: 5px;
}
.button5{background: linear-gradient(to left,#57324381 30%, #6a1f44 50%) right;width: 250px; margin-left: 10px;height: 200px;font-size: 15px;
    border-radius: 20%;
    background-size: 250%;
    transition: .6s ease-in;
  border: none;
padding: 5px;
margin-top: 50px;
color: white;

}
.button5:hover{
  
    background-position: left;
    padding: 5px;
}
 .w1
{
 text-align: center;
 font-size: 40px;
 padding: 8px;

}
.a5
{
 background-color:#c3a5b4;
 width: 100%;
 height: 400px;
 padding: 50px;
 border-radius: 20%;
}
.img1{
margin: 10px;
}
.bg{
    background-color: #662847;
    border-radius: 20px;
}

.box1
{
 height:300px;
background-image: url(Treatments/h1.webp);
border-radius: 30%;
 width: 300px;

 background-position: center;
 background-size: cover;

}
.box2
{
 height: 300px;
background-image: url(Treatments/h3.webp);
 width: 300px;
 border-radius: 30%;
 background-position: center;
 background-size: cover;
}
.box3
{
 height: 300px;
background-image: url(Treatments/h4.webp);
 width: 300px;
 border-radius: 30%;
 background-position: center;

}
.box4
{
 height: 300px;
background-image: url(Treatments/h2.webp);
 width: 300px;
 border-radius: 30%;
 background-position: center;
 background-size: cover;
 
}
.form{
color: white;
padding: 40px; 
font-size: 20px;
}
